mat-dialog-actions button {
    cursor: pointer;
    margin-right: 10px;
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .double-fields mat-form-field:first-child {
        margin-right: 10px;
    }

    .address-field {
        width: 100%
    }
}
