<div class="modal-contact-details">
  <h2 mat-dialog-title>
    @if(isCreation) {
      Création d'un contact
    } @else {
       Détail du contact Id : {{ data.contact.id }}
    }
  </h2>
  <mat-dialog-content>
    <section>
      <div class="contactErrors">
        @if(contactErrors) {
          {{ contactErrors }}
        }
      </div>
      <div class="double-fields">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input required matInput [(ngModel)]="contact.lastname" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput [(ngModel)]="contact.firstname" />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Société</mat-label>
        <input matInput [(ngModel)]="contact.company" />
      </mat-form-field>
      <div>
        <mat-form-field class="address-field">
          <mat-label>Adresse</mat-label>
          <input matInput [(ngModel)]="contact.address" />
        </mat-form-field>
      </div>
      <div class="double-fields">
        <mat-form-field>
          <mat-label>Téléphone</mat-label>
          <input matInput [(ngModel)]="contact.phone" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="contact.email" />
        </mat-form-field>
      </div>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton (click)="close()">Fermer</button>
    <button mat-button (click)="isCreation ? create() : save()" cdkFocusInitial>
      {{ isCreation ? 'Créer' : 'Sauvegarder' }}
    </button>
  </mat-dialog-actions>
</div>
